.container {
    padding: 3.5%;
    background: #bbdefb;
}

header {
    background-color: #278acc;
    margin: 0 auto;
    padding: 10px;
    max-width: 50rem;
    border-radius: 5px;
    height: auto;
}

main h2, ul {
    margin: 0 auto;
    max-width: 50rem;
    padding-left: 2rem;
}

.footer {
    background-color: #278acc;
    margin: 0 auto;
    padding: 10px;
    max-width: 50rem;
    border-radius: 5px;
    height: auto;
    text-align: center;
    line-height: auto;
}


ul {
    margin: 0 auto;
}

#credits, #mod-time {
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    display: block;
    margin: auto;
}

h1 {
    font-size: 1.6rem;
    font-family: Lucida Handwriting;
    font-style: bold;
    margin: 0.15rem;
    color: #4e342e;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    margin: 0;
}

#mod-time, #last-time {
    font-size: 0.9rem;
}


.main-title {
    font-family: Trebuchet MS;
    text-align: center;
    margin: 0 auto;
}

main ul li {
    list-style: none;
    font-family: Lucida Console;
    font-size: 0.8rem;
}

#last-mod {
    color: #FFFFFF;
}