body {
    padding: 10rem;
    padding-top: 5rem;
    background: #e3f2fd;
  }
  
  header {
    margin: 0;
    background: #2196f3;
    border-radius: 5px;
  }

  img {
    width: 20%;
    padding: 1rem;
    float: left;
  }
  
  header h1 {
    position: relative;
    text-align: center;
    padding: 7rem;
    display: block;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    font-display:;
    margin: 0;
  }

  .main-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-left: 1rem;
    font-size: 2em;
    margin: 0;
    padding-top: 0.4em;
  }
  
  li {
    font-weight: bold;
    list-style: none;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  ul {
    margin: 0;
  }
  
  section {
    padding: 2rem;
  }
  
  footer {
    margin: 0;
    padding: 1rem;
    background: #2196f3;
    border-radius: 5px;
    text-align: center;
  }

  #credits, #mod-time {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
  }