@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');

body {
    font-family: Merienda;
    background-color:#319CC6;
    margin: 0;
    padding: 0;
}

#banner {
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-weight: 500;
    text-shadow: #000000 .2rem .1rem .1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 60px;
    margin: 0;
    background-color: #FF6F15;
}

header #head-title {
    color: #FFFFFF;
    text-shadow: 0.1rem 0.1rem 0.2rem #000000;
}

header #head-title p {
    font-size: .9rem;
}


#social {
    display: flex;
    align-items: center;
    margin-top: .8rem;
}

#hamburgerBtn {
    display: flex;
    align-items: center;
    margin: .6rem .5rem 0 .5rem;
    border: #000000 solid 0.1px;
    padding: .3rem .5rem .5rem .5rem;

}

header #social a img {
    width: 25px;
    padding: 0.1rem;
}

header nav {
    text-align: center;
    grid-row: 2 / 6;
    grid-column: 1 / 5;
}

header h1, p {
    margin: 0;
    padding: 0;
}

#head-title {
    padding: .2rem;
    font-size: smaller;
}

#head-date {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    padding: .2rem;
    text-align: center;
    background-color: #FFFFFF;
    margin: .5rem .5rem 0 .5rem;
    font-family: Roboto Condensed;
    font-style: normal;
    text-shadow: #319CC6 0.1rem .2rem 2rem;
}

#head-logo {
    width: 50px;
    border-radius: 20px;
    padding: 10px;
}

button {
    background: transparent;
    border: none;
    font-size: 2rem;
}

#hamburgerBtn {
    justify-self: center;
}

nav {
    background-color: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: .5rem;
    border-left: 0;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 5);
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: .1rem .1rem .2rem #000000;

}

nav ul li a:hover {
    background-color: rgba(0,0,0,3);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.3);

}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#head-date.open {
    grid-row: 6 / 7;
}

#hamburgerBtn span:nth-child(1){
    display: block;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}

#hamburgerBtn.open span:nth-child(1){
    display: none;
}
#hamburgerBtn.open span:nth-child(2){
    display: block;
}

section {
    padding: .5rem;
    margin: .5rem;
    font-family: Roboto Condensed;
}

section article {
    height: 8rem;
}

#hero {
    background-color: transparent;
    border: 0;
    padding: 0;
    height: 10rem;
    display: grid;
}

#hero h2{
    font-family: merienda;
    font-size: 1.5rem;
    color: #000000;
    position: absolute;
    font-size: 1rem;
    margin: .5rem 0 0 1rem;
}

#hero picture img { /*
    height: 10rem; 
    width: 100%; */
    margin-left: auto;
    margin-right: auto; 
}

#joinBtn {
    display: none;
}

#event {
    background: linear-gradient(180deg,#FFFFFF 95%, #FF6F15);
    text-align: center;
}

#event h3 {
    font-family: merienda;
    margin-top: .2rem;
    font-size: 1.5rem;
    margin-bottom: .8rem;
    color: #319CC6;
    text-shadow: #319CC6 .1rem .2rem 2rem;
}

#event p {
    font-size: 1.2rem;
    font-weight: 600;
}

#weather {
    background-color: #FFFFFF;
    color: #319CC6;
    margin: 0 3rem 0 3rem;
    height: 15rem;
    background: linear-gradient(180deg,#FFFFFF 95%, #FF6F15);
}

#weather div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3.75rem 3.75rem 3.75rem 3.75rem;
}

#weather #weather-title {
    text-shadow: #319CC6 0.1rem .2rem 2rem;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 1.5rem;
    padding-top: .6rem;
    margin-top: .3rem;
    font-family: merienda;
}

#weather div img {
    width: 7rem;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    padding-left: 1rem;
    margin-top: 0;
}

#weather #w-now {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1.8rem;
    padding-left: 1.8rem;
    color: #000000;
}

#weather h2 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    font-size: 2.7rem;
    margin-top: 1rem;
    padding-right: 1.5rem;
    color: #000000;
    font-weight: 900;
}

#weather #conditions {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    padding-left: 1rem;
    font-size: 1.3rem;
    border-top: #319CC6 2px solid;
    padding-top: .3rem;
    font-weight: bold;
    color: #000000;
}

#news {
    background: #FFFFFF;
    padding: 1.2rem;
    background: linear-gradient(180deg,#FFFFFF 95%, #FF6F15);
}

#news h3 {
    padding: 0 0.5rem 0.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    font-family: Merienda;
    color: #319CC6;
    text-shadow: #319CC6 .1rem .2rem 2rem;
}

#news p {
    font-size: 1.1rem;
    font-weight: bold;
}

#mix-section {
    height: 38.5rem;
}

article {
    padding: .5rem;
    height: 7rem;
}

#spotlight1 {
    background-color: #FFFFFF;
    height: 18rem;
    text-align: center;
    background: linear-gradient(180deg,#FFFFFF 95%, #FF6F15);
}

#spotlight1 h3 {
    text-align: center;
    font-family: merienda;
    color: #319CC6;
    text-shadow: #319CC6 .1rem .2rem 2rem;
    font-size: 1.5rem;
}

#spotlight1 .act {
    font-weight: 700;
    font-size: 1.2rem;
    border-bottom: 1px solid #000000;
    padding: .3rem;
    margin: 0 1rem 0 1rem;
}

#spotlight1 p {
    font-weight: 700;
    font-size: 1.1rem;
    padding-top: .3rem;
}

#spotlight2 {
    background-color: #FFFFFF;
    height: 18rem;
    text-align: center;
    background: linear-gradient(180deg,#FFFFFF 95%, #FF6F15);
}

#spotlight2 h3 {
    font-family: merienda;
    font-size: 1.5rem;
    color: #319CC6;
    text-shadow: #319CC6 .1rem .2rem 2rem;
}

#spotlight2 img {
    width: 18rem;
}

#spotlight2 .act {
    font-weight: 700;
    font-size: 1.2rem;
    border-bottom: 1px solid #000000;
    padding: .3rem;
    margin: 0 1rem 0 1rem;
}

#spotlight2 p {
    font-weight: 700;
    font-size: 1.1rem;
    padding-top: .3rem;
}

#mix-section article:nth-child(3) {
    display: none;
}

#join {
    display: none;
}

#foot-logo {
    width: 90px;
    border-radius: 10px;
}

footer {
    margin: 0;
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: #FF6F15;
}

footer div p {
    color: #000000;
}

footer h2 {
    margin-bottom: 0;
}

footer #email {
    padding: .5rem;
}

footer #phone-n {
    margin: .5rem;
}

footer #location {
    margin: .5rem;
}

hr {
    width: 100%;
    border: solid 0.5px #000000;
}

footer h3 {
    margin: 0;
}

#bottom-data p:nth-child(2) {
    font-weight: 900;
}

#discover-page section {
    display: grid;
    grid-template-columns: 1fr;
}

#discover-page section picture img {
    width: 100%;
}

picture img {
    transition: filter 1.5s;
    filter: blur(0em);
}

picture img[data-src] {
    filter: blur(.2em);
}

#visit-account {
    background-color: #C7C7C7;
}

#discover-page p {
    margin-bottom: .25rem;
    font-size: 1.2rem;
}

#discover-page h2 {
    margin: 0rem 0 .5rem 0;
}

#discover-page #visit-account div {
    padding: .25rem;
    margin-top: 1.5rem;
}

#visit-account h3 {
    margin: 0;
    text-align: center;
}