@media only screen and (min-width: 64rem){
    header {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 80px;
    }

    #head-title {
        grid-column: 2 / 6;
        grid-row: 1 / 4;
        padding: .2rem;
        margin: .5rem;
    }

    header #head-title p {
        font-size: 1.2rem;
    }

    #head-logo {
        width: 70px;
    }

    header nav {
        grid-column: 5 / 10;
        grid-row: 1 / 2;
    }

    header #social {
        grid-column: 10 / 11;
        justify-content: center;
        margin-right: .5rem;
    }
    
    nav ul li a {
        margin-top: .3rem;
        padding: 1rem;
        font-size: 1.2rem;
    }

    #head-date {
        grid-column: 1 / 11;
    }

    #hamburgerBtn {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    }

    #index #mix-section article:nth-child(3) {
        display: block;
    }

    #index.div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #index #mix-section {
        grid-column: 4 / 5;
        grid-row: 1 / 4;
        padding: .5rem;
        margin: .5rem .5rem .5rem .25rem;
        height: 41rem;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #C7C7C7;
    }

    #index #mix-section article {
        height: 13rem;
    }

    #index #mix-section article h3 {
        margin: .5rem;
    }

    #index section #spotlight1 p {
        margin-bottom: .5rem;
    }

    #index #spotlight1 div {
        border-right: 0;
    }

    #index #spotlight1 img {
        width: 10rem;
        margin-left: auto;
        margin-right: auto;
    }

    #index section #spotlight2 {
        height: 13rem;
    }

    #index #spotlight2 img {
        width: 11rem;
        margin-left: auto;
        margin-right: auto;
    }

    #index #spotlight2 p {
        margin: 0;
    }

    #index #spotlight2 h3 {
        font-family: merienda;
        font-size: 1.5rem;
        color: #319CC6;
        text-shadow: #319CC6 .1rem .2rem 2rem;
    }

    #index section #spotlight3 {
        padding: 0;
        height: 13rem;
    }

    #index #spotlight3 div {
        padding-bottom: .5rem;
    }

    #index #spotlight3 h3 {
        text-align: center;
        font-family: merienda;
        color: #319CC6;
        text-shadow: #319CC6 .1rem .2rem 2rem;
        font-size: 1.5rem;
    }

    #index #spotlight3 div {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #FFFFFF;
        text-align: center;
        background: linear-gradient(180deg,#FFFFFF 95%, #FF6F15);
    }

    #index #spotlight3 img {
        width: 8rem;
        margin-left: auto;
        margin-right: auto;
    }

    #index #spotlight3 p {
        margin: 0;
    }

    #index #spotlight3 div .act {
        font-weight: 700;
        font-size: 1.2rem;
        border-bottom: 1px solid #000000;
        padding: .3rem;
        margin: 0 1rem 0 1rem;
    }

    #index #spotlight3 p {
        font-weight: 700;
        font-size: 1.1rem;
        padding-top: .3rem;
    }

    #index #event h3 {
        font-size: .5rem;
    }

    #index #mix-section article .act {
        margin: 0;
    }

    #index #event {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: .5rem .25rem 0rem .5rem;
        padding: 0;
        height: 13rem;
    }

    #index #event div {
        grid-template-rows: auto;
        padding: .5rem;
    }

    #index #event p {
        margin-top: .5rem;
        font-size: 1.2rem;
    }

    #index #event div h3 {
        padding-top: 0;
        margin-top: 0;
        font-size: 1.5rem;
    }

    #index #weather {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0rem .25rem .25rem .5rem;
    }

    #index #weather #conditions {
        font-size: 1.2rem;
    }

    #index #weather div img {
        width: 7rem;
    }

    #index #join {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0 .25rem .25rem .5rem;
        padding: .5rem;
        height: 11.5rem;
    }

    #index #join div p {
        font-size: 1.2rem;
        padding: .5rem 0;
    }

    #index #join div button h3 {
        margin-top: 0;
    }

    #index #hero {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        margin: .5rem .25rem 0rem .25rem;
    }

    #index #hero div #joinBtn {
        font-size: 1.2rem;
        margin: .5rem 1.25rem .4rem .5rem;
        top: 32rem;
        left: 35rem;
    }

    #index #hero div img {
        height: 28.5rem; 
        width: 100%;
        margin: 0 auto;
    }

    #index #news {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        margin: 0rem .25rem .20rem .25rem;
        height: 11.6rem;
    }

    #index #news p {
        padding-top: 1rem;
        font-size: 1.3rem;
    }

    #index #ended {
        display: grid;
        grid-template-columns: 3fr, 2fr;
        justify-content: center;
    }

    #bottom-data {
        grid-column: 1 / 4;
    }

    #mod-time {
        grid-column: 4 / 6;
        padding: 0 0.3rem;
    }

    #discover-page {
        margin: 0rem 5rem;
    }

    #discover-page section {
        padding: 1rem 2.5rem 0;
    }

    #directory-page .chips {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #join-page {
        margin: .5rem 5rem 0;
    }

    #contact-page {
        margin: .5rem 5rem 0;
    }
}