@media only screen and (min-width: 35rem){

    #index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    header #social a {
        padding: 1.5rem .25rem;
    }

    header #social a img {
        width: 40px;
    }

    #index #hero {
        grid-column: 1 / 4;
    }

    #index #hero picture {
        height: 100%;
    }
    
    #index #hero h2 {
        font-size: 1.5rem;
    }
    #index #hero div #joinBtn {
        line-height: 0;
        padding: .5rem 1rem;
        font-size: 1rem;
        background-color: #FF5700;
        border-radius: 15px;
        top: 18rem;
        left: 16rem;
    }

    #index #hero h3 {
        padding: .8rem 1.2rem;
        font-size: 1.5rem;
    }

    #index #news {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    #index #mix-section {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        display: grid;
        grid-template-columns: 50% 50%;
        height: 15rem;
        padding: .5rem;
    }

    #index #mix-section article {
        height: 14rem;
    }

    #index #spotlight1 div{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        border-right: #C7C7C7 1.8px solid;
    }

    #index #spotlight1 img {
        width: 12.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    #index #spotlight1 p {
        margin-top: .5rem;
        padding-top: 0;
    }

    #index #spotlight1 h3 {
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    #index #spotlight2 div{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    #index #spotlight2 p {
        margin-top: .5rem;
    }

    #index #spotlight2 h3 {
        margin-bottom: .9rem;
        margin-top: .5rem;
    }

    #index #spotlight2 img {
        margin-top: .3rem;
        margin-bottom: .5rem;
        width: 15rem;
        margin-left: auto;
        margin-right: auto;
    }

    #index #join {
        display: block;
        grid-column: 1 / 4;
        grid-row: 4 / 5;
        display: grid;
        background-color: #FFFFFF;
        background: linear-gradient(180deg,#FFFFFF 95%, #FF5700);
    }

    #index #join div {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #index #join div button {
        width: 95%;
    }

    #index #join div button h3 {
        margin: 1.5rem 0 0 0;
        padding: 1.5rem;
        line-height: 0;
        font-size: 1.5rem;
        background-color: #FF5700;
        border-radius: 15px;
        font-weight: 700;
    }

    #index #join div p {
        padding: 1rem 0 0 0;
        font-weight: 700;
        font-size: 1.2rem;
        margin-top: 0;
    }

    #index #event {
        grid-column: 1 / 3;
        display: grid;
        height: 15rem;
    }

    #index #event div {
        grid-template-columns: 1fr;
        grid-template-rows: 5rem;
        text-align: center;
        padding: .7rem 1.5rem 0 1.5rem;
    }

    #index #event div h3 {
        line-break: 0;
        margin-bottom: 0;
    }

    #index #weather {
        margin: .5rem;
    }

    #bottom-info {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    #bottom-info div:nth-child(1) {
        grid-column: 1 / 2;
    }

    #bottom-info div:nth-child(2) {
        grid-column: 2 / 5;
    }

    #bottom-info div:nth-child(3) {
        grid-column: 5 / 7;
        padding-top: 1rem;
    }

    p#email, p#phone-n, p#location {
        margin: 0;
        padding: 0;
    }

    #bottom-data {
        display: flex;
        justify-content: center;
        text-align: center;

    }

    #bottom-data p {
        border-right: 1px solid rgba(0,0,0,3);
        padding: 0 0.3rem;
    }

    #discover-page {
        margin: 0rem 2rem;
    }

    #discover-page section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 1rem 0;
    }

    #discover-page img:hover {
        box-shadow: white .3rem .1rem 2rem .5rem;
    }

    #discover-page section:nth-of-type(even) picture {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #discover-page section:nth-of-type(even) div {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #discover-page div {
        text-align: center;
        align-self: center;
        padding: 1rem;
    }

    #discover-page .disc-tac picture img {
        width: 100%;
    }

    #join-page #join-sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1.5rem 2rem 1rem .5rem;
    }

    #join-page h2 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    #contact-page

    #contact-page section {
        font-family: Roboto Condensed;
    }

    #join-page #cont-form {
        margin: 1rem;
    }

    #join-form {
        padding: 0 1.5rem;
    }

    #join-page #member-benefits {
        display: block;
    }

    #join-page #member-benefits {
        margin: 1rem;
        background-color: #C7C7C7;
        border-radius: 10px;
        box-shadow: #000000 0.1rem 0.1rem 1rem;
    }

    #join-page #member-benefits section {
        border: #000000 2.5px solid;
        border-radius: 15px;
        margin: 1.5rem;
    }

    #join-page label.sbs ul {
        display: none;
    }

    #join-page label.sbs input[type="radio"]:checked + ul {
        display: none;
    }

    #directory-page .chips {
        grid-template-columns: 1fr 1fr;
    }

    #directory-page .chips.change section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0 .5rem;
        border-radius: 0;
        box-shadow: 0 0 0 0;
    }

    #directory-page #gridBtn.change img {
        background-color: transparent;
    }

    #directory-page #listBtn.change img {
        background-color: #C7C7C7;
    }

    #directory-page .chips.change section img {
        display: none;
    }

    #directory-page .chips.change section .bName {
        display: block;
    }

    #directory-page .chips.change section:nth-of-type(even) {
        background-color: #FFFFFF;
    }

    #contact-page #contact-sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem;
    }

    #contact-page #contactUs {
        padding: 0rem 2rem;
    }

    #contact-page #contactUs iframe {
        height: 12rem;
    }

    #contact-page #contact-data {
        border: #000000 2.5px solid;
        border-radius: 15px;
        margin: 0;
    }

    #join-page #member-benefits #secGO {
        margin-bottom: 1.1rem;
    }

    #join-page #member-benefits p {
        margin-left: 1.5rem;
        font-size: .9rem;
        font-weight: 900;
    }


}