@media only screen and (min-width: 35rem){

        main div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #hero {
        grid-column: 1 / 4;
    }

    #news {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    #mix-section {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    #mix-section {
        display: flex;
        height: 8rem;
        padding: 1rem;
    }

    #mix-section article {
        flex: 1;
        height: 7rem;
    }

    #join {
        display: block;
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }

    #event {
        grid-column: 1 / 3;
    }
    
}