body {
    margin: 0;
    padding: 0;
    align-content: center;
}

table {
    margin: auto;
    margin-top: 5rem;
    box-shadow: #628ca6 .5rem .5rem .5rem 0;
    font-size: 1rem;
    border: #000000 solid .1px;
}

td {
    font-family: Ubuntu, sans-serif;
    padding: .5rem .7rem .5rem .7rem;
    border: #000000 .1px solid;
    text-align: center;
    margin: 0;
}

#principal, #final {
    background-color: #7fb9c2;
    color: black;
}

table tr:nth-child(odd) {
    background-color: #d0dad6;
}

table tr:nth-child(even) {
    background-color: #cbf7d2;
}

#subhead, #less {
    background-color: #628ca6;
    color: white;
}

#special {
    font-style: italic;
}

#principal, #subhead {
    font-weight: bold;
}

#principal {
    font-size: 1.6rem;
}

#last {
    font-size: .7rem;
    text-align: center;
}