body {
    margin: 0;
    padding: 0;
    text-align: center;
}

picture {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
}

picture img {
    margin-left: auto;
    margin-right: auto;
    transition: filter 1s;
    filter: blur(0em);
}

picture img[data-src] {
    filter: blur(.2em);
}